<h2>Create a Doodle</h2>

<form #doodleForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-panel header="Your Information">
        <div class="ui-g ui-fluid mt-3">
          <div class="ui-g-12 ui-md-6">
              <span class="ui-float-label">
                <input name="lastName" id="lastName" type="text" pInputText [(ngModel)]="user.lastName" required>
                <label for="lastName">Enter Your Last Name</label>
              </span>
          </div>
          <div class="ui-g-12 ui-md-6">
              <span class="ui-float-label">
                <input name="firstName" id="firstName" type="text" pInputText [(ngModel)]="user.firstName" required>
                <label for="firstName">Enter Your First Name</label>
              </span>
          </div>
        </div>
        <div class="ui-g ui-fluid mt-3">
          <div class="ui-g-12">
              <span class="ui-float-label">
                <input name="email" id="email" type="text" pInputText [(ngModel)]="user.email" required>
                <label for="email">Enter Your Email</label>
              </span>
          </div>
        </div>
      </p-panel>
    </div>

    <div class="ui-g-12">
      <p-panel header="Doodle Information">
        <div class="ui-g ui-fluid mt-3">
          <div class="ui-g-12 ui-md-6">
              <span class="ui-float-label">
                <input name="title" id="title" type="text" pInputText [(ngModel)]="meeting.title" required>
                <label for="title">Enter the Meeting Title</label>
              </span>
          </div>
        </div>
        <div class="ui-g ui-fluid">
          <div class="ui-g-12">
            <h6>Do you planning a break during the meeting ?</h6>
            <p-inputSwitch [(ngModel)]="meeting.pause" name="pause"></p-inputSwitch>
          </div>
          <div class="ui-g-12">
            <label for="summary">Meeting Summary</label>
            <textarea
              required name="summary" rows="5" id="summary"
              placeholder="Give a short summary about the meeting..."
              pInputTextarea autoResize="autoResize" [(ngModel)]="meeting.summary"></textarea>
          </div>
        </div>
      </p-panel>
    </div>

    <div class="ui-g-12">
      <p-panel header="Survey Information">
        <div class="ui-g">
          <div class="ui-g-12">
            <h6>Tell us the kind of survey you want ?</h6>
            <p-selectButton [options]="optionItems" [(ngModel)]="surveyType" name="surveyType"></p-selectButton>
          </div>
        </div>

        <div class="ui-g ui-fluid">
          <div class="ui-g-12" *ngIf="surveyType === 0 || surveyType === 2">
            <h6>Select dates and times to propose for the survey.
              <small>You can select multiple dates at once</small>
            </h6>
            <p-calendar
              placeholder="Click to pick up times"
              [(ngModel)]="dates"
              name="dates"
              [readonlyInput]="true"
              [showTime]="true"
              [showIcon]="true"
              selectionMode="multiple"></p-calendar>
          </div>

          <div class="ui-g-12" *ngIf="surveyType === 1 || surveyType === 2">
            <h6>Locations</h6>
            <p-autoComplete
              placeholder="Enter addresses"
              id="locations"
              [(ngModel)]="locations"
              name="locations"
              [multiple]="true"
              [suggestions]="suggestions"
              (completeMethod)="search($event)"></p-autoComplete>
          </div>
        </div>
      </p-panel>
    </div>
  </div>

  <div class="btn-actions fixed-bottom mt-auto py-3 bg-white shadow-lg">

    <div class="container">
      <button
        pButton
        type="submit"
        [disabled]="!doodleForm.form.valid"
        label="Let's Create" class="ui-button-raised float-right"></button>
    </div>
  </div>
</form>
