<p-progressBar *ngIf="!(meeting$ | async)" mode="indeterminate" [style]="{'height': '2px'}"></p-progressBar>

<div class="py-3">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
</div>

<h4>Associated Surveys</h4>

<div class="ui-g ui-fluid" *ngIf="meeting$ | async as meeting">
  <div class="ui-g-8 pl-0">
    <p-panel *ngFor="let survey of meeting.surveys"
             [header]="setTitle(survey)"
             [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      <div class="surveys dates" *ngIf="survey.dates">
        <h6>Dates</h6>
        <div *ngFor="let date of survey.dates" class="survey-item">
          <div class="label">
            {{ date.time | dateFormat }}
          </div>
          <div class="survey-inner">
            <p-progressBar [value]="setValueBaseOnDates(survey, date)"></p-progressBar>
          </div>
        </div>
      </div>

      <div class="surveys addresses" *ngIf="survey.addresses">
        <h6>Locations</h6>
        <div class="survey-item" *ngFor="let address of survey.addresses">
          <div class="label" style="text-align: center">{{ address.location }}</div>
          <div class="survey-inner">
            <p-progressBar [value]="setValueBaseOnAddresses(survey, address)"></p-progressBar>
          </div>
        </div>
      </div>

      <div class="surveys meals" *ngIf="survey.dietaries">
        <h6>Meals</h6>
        <div class="survey-item" *ngFor="let meal of survey.dietaries">
          <div class="label" style="text-align: center">{{ meal.name }}</div>
          <div class="survey-inner">
            <p-progressBar [value]="setValueBaseOnMeals(survey, meal)"></p-progressBar>
          </div>
        </div>
      </div>

      <p-footer *ngIf="meeting.participants && meeting.participants.length">
        <div class="d-flex p-justify-between p-align-center">
          <h6 class="mb-0">Invited Users:</h6>
          <div class="d-flex p-justify-end">
            <img *ngFor="let p of meeting.participants" class="rounded-circle ml-1" width="20" height="20"
                 [src]="gravatarUrl(p.email)"
                 [title]="p.firstName + ' ' + p.lastName"
                 [alt]="p.firstName + ' ' + p.lastName">
          </div>
        </div>
      </p-footer>
    </p-panel>
  </div>

  <div class="ui-g-4 pr-0">
    <p-card
      [header]="meeting.title" [subheader]="setSubHeader(meeting.pause)"
      styleClass="ui-card-shadow">
      {{ meeting.summary }}
    </p-card>

    <p-card header="Invite Friends" [styleClass]="'mt-3'">
      <div class="ui-fluid">
        <p-autoComplete
          [(ngModel)]="usersToInvite"
          [suggestions]="suggestions"
          (completeMethod)="autocompleteRequest($event)"
          styleClass="wid100 mb-3"
          [minLength]="1" placeholder="Enter friends mail here..." [multiple]="true">
        </p-autoComplete>
        <button
          [disabled]="!usersToInvite || !usersToInvite.length"
          pButton type="button" label="Invite" class="ui-button-raised" (click)="sendInvitations(meeting)"></button>
      </div>
    </p-card>
  </div>
</div>
